Python Syntax

In [43]:
print("Hello World")

Hello World

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
Python Comments

In [3]:
#This is a comment

In [6]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [ ]:
Python Variables

In [39]:
carname = "Volvo"
print(carname)

Volvo

In [40]:
x = 50
print(x)

50

In [9]:
x = 5
y = 10
print(x+y)

15

In [10]:
x = 5
y = 10
z = x + y
print(z)

15

In [42]:
my_first_name = "John"

In [41]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
def myfunc():
    global x
    x = "fantastic"

In [ ]:
Python Data types

In [14]:
x = 5
print(type(x))

<class 'int'>

In [15]:
x = "Hello World"
print(type(x))

<class 'str'>

In [16]:
x = 20.5
print(type(x))

<class 'float'>

In [17]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [18]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [19]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [20]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
Python Numbers(converting)

In [25]:
x = 5
x = float(x)
print(x)

5.0

In [24]:
x = 5.5
x = int(x)
print(x)

5

In [23]:
x = 5
x = complex(x)
print(x)

(5+0j)

In [ ]:
Python Strings

In [26]:
x = "Hello World"
print(len(x))

11

In [32]:
txt = "Hello World"
txt = txt[0]
print(txt)

H

In [33]:
txt = "Hello World"
txt = txt[2:5]
print(txt)

llo

In [34]:
txt = " Hello World "
txt = txt.strip()
print(txt)

Hello World

In [35]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [36]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [37]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

In [38]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36